@import "tailwindcss";

.text-glow-cyan {
  text-shadow: 0 0 15px rgba(56, 189, 248, 0.6),
    0 0 30px rgba(56, 189, 248, 0.4);
}

.site-text-hover:hover,
.site-text-hover:active {
  color: #38bdf8;
  font-style: italic;
}
